---
export interface Props {
	post: any;
}
const { post } = Astro.props;
---

<div class="noticia-card">
	<div class="card-header">
		<img src={post.frontmatter.heroImage} alt="" class="card-img">
	</div>
	<div class="card-info">
		<p class="publish-date">{post.frontmatter.publishDate}</p>
		<a href={post.url}><h3 class="title">{post.frontmatter.title}</h3></a>
		<a href={post.url} class="btn"><button class="btn-primary">Leia mais</button></a>
	</div>
</div>