---
import BaseHead from '../components/BaseHead.astro';
import BlogPost from '../components/BlogPost.astro';
const { content } = Astro.props;
const { title, publishDate, author, authorURL, heroImage, alt } = content;
---

<html lang={content.lang || 'pt-br'}>
	<head>
		<BaseHead />
	</head>

	<body>
		<div class="wrapper">
			<BlogPost {title} {author} {authorURL} {heroImage} {publishDate} {alt}>
				<slot />
			</BlogPost>
		</div>
	</body>
</html>